<footer class="site-footer">
    <div class="col-xs-12">
      <div class="row start-xs center-xs pd-top-bottom-sm">
        <div class="col-xs-1 self-center">
          <img height="50" class="img-responsive" src="/assets/RY_logo_mark.png">
        </div>
        <div class="col-xs-7 self-center">
          <div class="box text-center">
            <p class="md-display-1 no-margin no-padding">Distiled and aged by Rebel Yell Distillery, Lousiville, KY for Luxco INC., St. Louis Mo.</p>
          </div>
        </div>
        <div class="col-xs-2 self-center">
          <div class="box">
            <p class="md-display-1 right no-margin no-padding">&copy; 2016</p>
          </div>
        </div>        
      </div>
    </div>
</footer>