<header class="site-header">
  <div class="row full-flex center-xs">
    <div class="col-xs-10">
      <div class="row between-xs center-xs pd-top-bottom-sm">
        <div class="col-xs-2 nav-item">
          <img class="img-responsive" src="/assets/RY_logo.png">
        </div>
        <div class="col-xs-2 nav-item">
          <div class="box text-center">
            <p class="md-display-2 no-margin no-padding">About</p>
          </div>
        </div>
        <div class="col-xs-2 nav-item">
          <div class="box text-center">
            <p class="md-display-2 no-margin no-padding">History</p>
          </div>
        </div>
        <div class="col-xs-2 nav-item">
          <div class="box text-center">
            <p class="md-display-2 no-margin no-padding">Flavor</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>