<div class="row center-xs">
    <div class="col-xs-10">
        <h1 class="md-display-6 no-margin headline-type text-transform-caps">Never Go Quietly</h1>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-6">
        <p class="md-display-3">Ten years of ptience, bottled one barrel at a time—for a uniquely rebellious experience.
        </p>
    </div>
</div>