<div class="row center-xs">
    <div class="col-xs-10">
        <img class="mg-bottom-xs" width="200" src="assets/RY_logo_mark1843.png" />
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-10">
        <h1 class="md-display-6 no-bottom headline-type text-transform-caps">10-Year Single Barrel</h1>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-8">
        <hr class="white divider mg-top-bottom-md">
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-6">
        <p class="md-display-3 text-left no-margin">Dating back to 1849, Rebel Yell's legacy is evident not only in its time-honored recipe, but in its unwavering, timeless
            spirit.</p>
    </div>
</div>
<div class="row center-xs">
    <div class="col-xs-6">
        <p class="md-display-2 text-left no-bottom"><em>Our meticulously aged 10-year bourbon is robust in flavor with a mature finish.</em>
        </p>
    </div>
</div>