<div class="row full-flex">
    <div class="col-xs-12">
        <h1 class="md-display-6 no-margin headline-type text-transform-caps">Flavor Profile</h1>
    </div>
</div>
<div class="row center-xs full-flex mg-top-bottom-xl">
    <div class="col-xs-10">
        <hr>
    </div>
</div>
<div class="row full-flex center-xs mg-bottom-xl">
    <div class="col-xs-10">
        <div class="row between-xs">
            <div class="col-xs-6">
                <div class="row start-xs">
                    <div class="col-xs-1">
                        <img class="img-responsive" src="/assets/RY_icon_nose.png" />
                    </div>
                    <div class="col-xs-8 self-center">
                        <h2 class="no-margin body-type text-transform-caps">Nose</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <p class="md-display-2 text-left">Notes of Vanilla and dar fruits capture your attention, followed by the subtle nuance of citrus and
                            oak.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row start-xs">
                    <div class="col-xs-1 col-xs-offset-2">
                        <img class="img-responsive" src="/assets/RY_icon_aging.png" />
                    </div>
                    <div class="col-xs-6 self-center">
                        <h2 class="no-margin body-type text-transform-caps">Aging</h2>
                    </div>
                </div>
                <div class="row end-xs">
                    <div class="col-xs-10">
                        <p class="md-display-2 text-left">10 years of thorough aging in charred oak barels provide a smokiness worth shouting for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row full-flex center-xs">
    <div class="col-xs-10">
        <div class="row center-xs">
            <div class="col-xs-6 self-center">
                <div class="row start-xs">
                    <div class="col-xs-1">
                        <img class="img-responsive" src="/assets/RY_icon_hue.png" />
                    </div>
                    <div class="col-xs-8 self-center">
                        <h2 class="no-margin body-type text-transform-caps">Color</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <p class="md-display-2 text-left">Boasting a beautiful golden amber glow. Rebel Yell 10-Year is as pleasing to the ye as it is to the palate. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row start-xs">
                    <div class="col-xs-1 col-xs-offset-2">
                        <img class="img-responsive" src="/assets/RY_icon_taste.png" />
                    </div>
                    <div class="col-xs-6 self-center">
                        <h2 class="no-margin body-type text-transform-caps">Flavor</h2>
                    </div>
                </div>
                <div class="row end-xs">
                    <div class="col-xs-10">
                        <p class="md-display-2 text-left">With initial trace of caramel and citrus, Rebel Yell 10-Year finishes velvety smooth with just a hnt f spice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>