/**
 * Site header
 */

 body {
     margin: 0 !important;
 }
.site-header {
    min-height: 56px;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($brand-primary, .75);
    * {
        color: white !important;
    }
    .wrapper {
        width: 100%;
        text-align: center;        
    }
    
    .nav-item {
        align-self: center;
    }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.full-height-wrapper {
    height: 100vh;
    text-align: center;
}

.landing-hero {
    background: linear-gradient(
      rgba($brand-primary, 0.75), 
      rgba($brand-primary, 0.55)
    ), url('../assets/RebelYell_06.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    align-content: center;        
    
    .row,
    h1,
    p {
        flex-basis: 100%;
    }

    h1,
    p {
        color: $white;
    } 

    h1 {
        font-size: $xxxl-size !important;
    } 
}   

.story {
    background: linear-gradient(
      rgba($brand-primary, 0.35), 
      rgba($brand-primary, 0.20)
    ), url('../assets/RebelYell_02.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    align-content: center;        
    
    .row,
    h1,
    p {
        flex-basis: 100%;
    }

    * {
        color: $white;
    }

    .white-border {
        height: 80%;
        width: 90%;
        background-color: rgba($brand-primary, .75);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        align-items: center;
        justify-content: center;
        align-content: center; 
        border: solid 3px $white;
        border-radius: 5px;        
        h1,
        p {
            flex: 1 100%;
            color: $white;
        }

        .row {
            
        }
    }     
}

.taste-notes {
    background: linear-gradient(
      rgba($brand-primary, 0.45), 
      rgba($brand-primary, 0.60)
    ), url('../assets/RY_woodBackground.png');
    * {
        color: $white;
    }  
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    align-content: center;      
    
    .full-flex,
    h1,
    p {
        flex-basis: 100%;
    }
}

.site-footer {
    background-color: $brand-primary;
    
    * {
        color: $white;
    }
}