//==================================
// set base typography
//==================================
$headline-typeface: 'Legend', Verdana, sans-serif;
$body-typeface: 'Open Sans', Verdana, sans-serif;

@font-face {
  font-family: 'Legend';
  src: url('../fonts/Legend.ttf')  format('truetype');
}

$mobile-body: 16px;
$tablet-body: 18px;
$desktop-body: 20px;
$lg-desktop-body: 22px;

.headline-type {
  font-family: $headline-typeface;
}

.body-type {
  font-family: $body-typeface;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-transform-caps {
  text-transform: uppercase;
}



body {
  * {
    font-family: $body-typeface;    
  }  
}


//==================================
// responsive typography
//==================================

.md-display-6 {
  font-size: $xxl-size !important;
}

.md-display-5 {
  font-size: $xl-size !important;
}

.md-display-4 {
  font-size: $lg-size !important;
}

.md-display-3 {
  font-size: $md-size;
}
.md-display-2 {
  font-size: $sm-size !important;
}
.md-display-1 {
  font-size: $xs-size !important;
}
.md-display-1.est-wait {
  font-size: $xxs-size !important;
}
.body-text {
  font-size: $xs-size !important;
}

//mobile-only styles
@media (max-width: 768px) {
  /*Mobile typeface sizes*/
  body {
    font-size: $mobile-body !important;
  }

  .md-display-4 {
    font-size: $md-size !important;
  }

  .md-display-3 {
    font-size: $md-size;
  }
  .md-display-2 {
    font-size: $sm-size;
  }
  .md-display-1 {
    font-size: $xs-size;
  }
  .md-display-1.est-wait {
    font-size: $xxs-size;
  }
  .body-text {
    font-size: $xs-size;
  }
  .order-type-filter {
    font-size: $xxs-size;
  }
}

//for tablet sizes
@media (min-width: 768px) {
  /*Tablet typeface sizes*/
  body {
    font-size: $tablet-body !important;
  }
  .md-display-4 {
    font-size: $xl-size;
  }
  .md-display-3 {
    font-size: $md-size;
  }
  .md-display-2 {
    font-size: $md-size;
  }
  .md-display-1 {
    font-size: $xs-size;
  }
  .body-text {
    font-size: $xs-size;
  }
  //for nothing bigger than tablet
  @media (max-width: 992px) {

  }
}

//for desktop (medium) sizes
@media(min-width: 992px) {
  /*Desktop typeface sizes*/
  body {
    font-size: $desktop-body !important;
  }
  .md-display-4 {
    font-size: $xl-size;
  }

  .md-display-3 {
    font-size: $md-size;
  }
  .md-display-2 {
    font-size: $md-size;
  }
  .md-display-1 {
    font-size: $xs-size;
  }
  .body-text {
    font-size: $xs-size;
  }

  //for nothing bigger than desktop (medium)
  @media (max-width: 1200px) {

  }
}

//For desktop (large) sizes
@media(min-width: 1200px) {
  /*Large Desktop typeface sizes*/
  body {
    font-size: $lg-desktop-body;
  }
  .md-display-4 {
    font-size: $xl-size;
  }
  .md-display-3 {
    font-size: $md-size;
  }
  .md-display-2 {
    font-size: $md-size;
  }
  .md-display-1 {
    font-size: $xs-size;
  }
  .body-text {
    font-size: $xs-size;
  }
}
