// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000;
$black-900:             #212121;
$black-800:             #424242;
$white:                 #fff;
$green:                 #86c751;
$coral:                 #ff744a;
$text-shade:            #000;

//================================================
// General Sizes
//================================================
$xxxl-size:  4.208em;
$xxl-size:  3.157em;
$xl-size:   2.369em;
$lg-size:   1.777em;
$md-size:   1.333em;
$sm-size:   1em;
$xs-size:   .75em;
$xxs-size:  .563em;
$xxxs-size: .422em;
//================================================
// Typography Weights
//================================================
$hairline:  200;
$light:     300;
$regular:   400;
$semi-bold: 500;
$bold:      700;