<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
      <div class="full-height-wrapper landing-hero">        
        {% include landing-hero.html %}
      </div>
      <div class="full-height-wrapper story">
        <div class="white-border">
          {% include story.html %}
        </div>
      </div>      
      <div class="full-height-wrapper taste-notes">
        {% include taste-notes.html %}
      </div>
      <div class="full-height-wrapper">
        {% include slider.html %}
      </div>

    {% include footer.html %}

  </body>
</html>
